@import '../assets/style/baseStyles.scss';

.searchContent {
    display: flex;
    align-items: center;
    position: relative;
}

.find {
    width: 300px;
    height: 34px;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 10px;
    border: 1px solid $card-header-color;
}

.findIcon {
    position: absolute;
    right: 8px;
    width: 24px;
    height: 24px;
}

.searchContentCountry {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid $card-header-color;
    width: 313px;
    background-color: $white;
    position: absolute;
    top: 108%;
    border-radius: 5px;
}

.countryField {
    background-color: $country-background-color;
    padding: 7px 0;
    padding-left: 9px;
    margin: 0;
    margin-bottom: 1px;
    font-size: 18px;
}

.countryField:hover {
    background-color: $button-hover-color;
    cursor: pointer;
}
